/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(141, 53, 53) !important;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}